@media (100px <= width <= 452px) {
  .logo img {
    width: 34%;
  }

  .p-container {
    display: flex;
    justify-content: center;
  }

  .form-container {
    justify-content: center;
  }

  .form {
    flex-direction: column;
    width: 100%;
  }

  .form-group {
    width: 70%;
  }

  .error {
    font-size: 0.6rem;
  }
}
