@media (916px <= width <= 1441px) {
  .global-background-container .artistic-image-container h2,
  .global-background-container .living-image-container h2,
  .global-background-container .accesories-image-container h2,
  .global-background-container .kitchen-image-container h2 {
    width: 54%;
    height: 25%;
  }

  .global-background-container .artistic-image-container h3,
  .global-background-container .living-image-container h3,
  .global-background-container .accesories-image-container h3,
  .global-background-container .kitchen-image-container h3 {
    top: 65%;
  }
}
@media (100px <= width <= 916px) {
  .firstbackground-container,
  .secondbackground-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    padding: 0;
  }

  .global-background-container .artistic-image-container,
  .global-background-container .living-image-container,
  .global-background-container .accesories-image-container,
  .global-background-container .kitchen-image-container {
    width: 100%;
  }

  .global-background-container .artistic-image-container h2,
  .global-background-container .living-image-container h2,
  .global-background-container .accesories-image-container h2,
  .global-background-container .kitchen-image-container h2 {
    width: 70%;
    height: 30%;
  }

  .global-background-container .artistic-image-container h3,
  .global-background-container .living-image-container h3,
  .global-background-container .accesories-image-container h3,
  .global-background-container .kitchen-image-container h3 {
    font-size: 0.7rem;
    top: 70%;
  }
}
