.header-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: shrinkToHeader 2s ease-in-out forwards;
}

.logo-transition {
  width: 150px;
  animation: shrinkLogo 2s ease-in-out forwards;
}

@keyframes shrinkToHeader {
  from {
    height: 100vh;
  }
  to {
    height: 3.9rem;
    opacity: 1;
  }
}

@keyframes shrinkLogo {
  from {
    width: 20rem;
  }
  to {
    width: 14%;
  }
}

@media (100px <= width <= 916px) {
  @keyframes shrinkLogo {
    from {
      width: 15rem;
    }
    to {
      width: 30%;
    }
  }
}
