@media (100px <= width <= 916px) {
  .menu-container {
    width: 95%;
    height: 90%;
  }

  .image-Logo {
    width: 30%;
  }

  .ul-links {
    align-items: center;
  }

  .cart ul {
    max-height: 19rem !important;
  }
}
