@media (100px <= width <= 916px) {
  .catalog-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .catalog-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .catalog-header .category {
    padding: 0;
    margin: 1rem 0 0 0;
  }

  .filter-container {
    width: 100% !important;
    margin: 1rem 0 0 0;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: end;
  }
}
